@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="well shadyFigure coloredWell">
    <h2>HOW TO GET STARTED:</h2>
    <p>
        The recommended way is to sign up for an account and once signed in go to your account and click projects, then create a new project with, when filling out
        the description please include example apps/sites, use case scenario, and some baseline functionalities that you will be requiring. I will then be able to view 
        your project and add milestones with descriptions and the estimated amount hours they will take. 
    </p>
    <p>
        The other way to get started is by sending me an email outlining what type of solution you are looking for, estimated number of users, and any links to similar solutions you can find.
        I can then give you a general qoute for price and you can move on to signing up.
    </p>
    <h2>NEXT STEPS:</h2>
    <p>
        Once you have made a project and see that I have made the milestones, please review them and then go to chats and start a new chat 
        if you have any further questions. At this point if you want continue with the project go to the payments page and make the corresponding
        down payment, once I recieve this I will activate the project and send a chat with some more specific information on scheduling. 
    </p>
    <p>Throughout the project I will be updating the milestones with hours and sending you updates and notes via the chats page.</p>
    <p>
        If you click on a milestone it will expand to show project details.  These details how many hours I have worked on the milestone, the total cost of the milestone, how many hours you have paid for,
        and the total estimated hours.
    </p>
    <h2>CLOSING A PROJECT:</h2>
    <p>Once all the milestones have been feel free to either delete or keep the project!</p>

</div>
