@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3915 Gallatin Ave.<br />
    Spearfish, SD 57783<br />
    <abbr title="Phone">P:</abbr>
    605.641.5664
</address>

<address>
    <strong>Email:</strong><a >nickwilliamslovescode@gmail.com</a><br />
</address>