@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center pastelBack" style="font-family: Helvetica; color: black;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <h1>Williams Software Solutions</h1>
        </div>
    </div>
</div>
<div class="well shadyFigure text-center" style="background: white;">
    <div class="welcome">
        <h2>Welcome!</h2>
        <p>I provide cutting edge software solutions and products businesses of all shapes and sizes.</p>
        <p>All clients are given permissions to post on the feedback section of this site to instigate discussion as you see fit, once you sign up you may create a project and recieve a free qoute.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center"><strong>Past Work</strong></h2><br />
            <ul>
                <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
                        </li> -->
                <li>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ionicframework.pocketpicks584185&hl=en">PocketPicks</a><p>Android</p>
                </li>
                <li>
                    <a target="_blank" href="https://itunes.apple.com/us/app/nicks-pocket-picks/id1237345088?mt=8">PocketPicks</a><p>IOS</p>
                </li>
                <li>
                    <p><a target="_blank" href="http://www.ilovefranchising.com/">I Love Franchising</a> - did some design/bug fixing for this site </p>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/nickwilliamsnewby/ephemGravityWrapper">My gravity module for python</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.nicksastropicks.com">My Stock/Astrology data analysis site</a>
                </li>
                <li>
                    <a target="_blank" href="https://thejunkdrawer.net/">First client's website</a>
                </li>
                <li><a target="_blank" href="https://github.com/nickwilliamsnewby">Github profile: </a>These are open source software project I have made or worked on.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="text-center"><strong>Services</strong></h2><br />
            <h4 class="text-center">Web Solution Pricing: $40/hr</h4>
            <p class="text-center">Down Payment: $1000</p><br />
            <h4 class="text-center">Mobile Solution Pricing: $45/hr</h4>
            <p class="text-center">Down Payment: $1500</p><br />
            <h4 class="text-center">Misc. (custom scripting, admin, devops, vr, machine learning) Solution Pricing: $50/hr</h4>
            <p class="text-center">Down Payment: $750</p><br />
        </div>
    </div>
</div>